# With this notebook we are joining data from metafile2

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from datetime import datetime

In [2]:
file_path = '../raw_data/metafile3.csv'
metafile_df = pd.read_csv(file_path)
metafile_df = metafile_df.iloc[:,1:]

In [3]:
metafile_df

,itemLabel,occupationLabel,genderLabel,bdayLabel,citizenshipLabel
0,Adèle Exarchopoulos,"actor, model, film actor",female,1993-11-22T00:00:00Z,France
1,Al Pacino,"stage actor, film producer, television actor, ...",male,1940-04-25T00:00:00Z,United States of America
2,Alan Arkin,"screenwriter, writer, singer, musician, charac...",male,1934-03-26T00:00:00Z,United States of America
3,Alan Rickman,"screenwriter, actor, writer, graphic designer,...",male,1946-02-21T00:00:00Z,United Kingdom
4,Albert Finney,"screenwriter, actor, singer, television direct...",male,1936-05-09T00:00:00Z,United Kingdom
...,...,...,...,...,...
201,Virginia Cherrill,"actor, film actor",female,1908-04-12T00:00:00Z,United States of America
202,Vivien Leigh,"actor, stage actor, film actor",female,1913-11-05T00:00:00Z,United Kingdom
203,Will Smith,"actor, singer, film producer",male,1968-09-25T00:00:00Z,United States of America
204,William Holden,"actor, television actor, film actor",male,1918-04-17T00:00:00Z,United States of America
205,Woody Allen,"screenwriter, writer, composer, clarinetist, p...",male,1935-12-01T00:00:00Z,United States of America

In [6]:
metafile2_df = pd.read_csv('../raw_data/metafile.csv')
metafile2_df = metafile2_df.iloc[:,1:].drop(columns=['item','image'])
metafile2_df

,itemLabel,occupationLabel,genderLabel,bdayLabel,citizenshipLabel,dodLabel
0,Marlene Dietrich,actor,female,1901-12-27T00:00:00Z,United States of America,1992-05-06T00:00:00Z
1,Marilyn Monroe,actor,female,1926-06-01T00:00:00Z,United States of America,1962-08-04T00:00:00Z
2,Ingrid Bergman,actor,female,1915-08-29T00:00:00Z,Sweden,1982-08-29T00:00:00Z
3,Bette Davis,actor,female,1908-04-05T00:00:00Z,United States of America,1989-10-06T00:00:00Z
4,Bibi Andersson,stage actor,female,1935-11-11T00:00:00Z,Sweden,2019-04-14T00:00:00Z
5,Vivien Leigh,actor,female,1913-11-05T00:00:00Z,United Kingdom,1967-07-08T00:00:00Z
6,Janet Leigh,actor,female,1927-07-06T00:00:00Z,United States of America,2004-10-03T00:00:00Z
7,Virginia Cherrill,actor,female,1908-04-12T00:00:00Z,United States of America,1996-11-14T00:00:00Z
8,Grace Kelly,actor,female,1929-11-12T00:00:00Z,United States of America,1982-09-14T00:00:00Z
9,Gloria Swanson,actor,female,1899-03-27T00:00:00Z,United States of America,1983-04-04T00:00:00Z
10,Carrie Fisher,spokesperson,female,1956-10-21T00:00:00Z,United States of America,2016-12-27T00:00:00Z
11,Marlon Brando,stage actor,male,1924-04-03T00:00:00Z,United States of America,2004-07-01T00:00:00Z
12,Paul Newman,screenwriter,male,1925-01-26T00:00:00Z,United States of America,2008-09-26T00:00:00Z
13,Spencer Tracy,actor,male,1900-04-05T00:00:00Z,United States of America,1967-06-10T00:00:00Z
14,Laurence Olivier,screenwriter,male,1907-05-22T00:00:00Z,United Kingdom,1989-07-11T00:00:00Z
15,Jack Lemmon,actor,male,1925-02-08T00:00:00Z,United States of America,2001-06-27T00:00:00Z
16,James Stewart,screenwriter,male,1908-05-20T00:00:00Z,United States of America,1997-07-02T00:00:00Z
17,Robin Williams,screenwriter,male,1951-07-21T00:00:00Z,United States of America,2014-08-11T00:00:00Z
18,Sidney Poitier,actor,male,1927-02-20T00:00:00Z,United States of America,2022-01-06T00:00:00Z
19,Peter O'Toole,actor,male,1932-08-02T00:00:00Z,Republic of Ireland,2013-12-14T00:00:00Z
20,Charlie Chaplin,screenwriter,male,1889-04-16T00:00:00Z,United Kingdom,1977-12-25T00:00:00Z
21,Philip Seymour Hoffman,actor,male,1967-07-23T00:00:00Z,United States of America,2014-02-02T00:00:00Z
22,Humphrey Bogart,screenwriter,male,1899-12-25T00:00:00Z,United States of America,1957-01-14T00:00:00Z
23,Gregory Peck,character actor,male,1916-04-05T00:00:00Z,United States of America,2003-06-12T00:00:00Z
24,Clark Gable,film actor,male,1901-02-01T00:00:00Z,United States of America,1960-11-16T00:00:00Z
25,Gary Cooper,screenwriter,male,1901-05-07T00:00:00Z,United States of America,1961-05-13T00:00:00Z
26,George C. Scott,actor,male,1927-10-18T00:00:00Z,United States of America,1999-09-22T00:00:00Z
27,Jason Robards,actor,male,1922-07-26T00:00:00Z,United States of America,2000-12-26T00:00:00Z
28,Charles Laughton,screenwriter,male,1899-07-01T00:00:00Z,United States of America,1962-12-15T00:00:00Z
29,Anthony Quinn,actor,male,1915-04-21T00:00:00Z,United States of America,2001-06-03T00:00:00Z
30,Peter Sellers,screenwriter,male,1925-09-08T00:00:00Z,United Kingdom,1980-07-24T00:00:00Z
31,James Cagney,character actor,male,1899-07-17T00:00:00Z,United States of America,1986-03-30T00:00:00Z
32,Peter Finch,actor,male,1916-09-28T00:00:00Z,United Kingdom,1977-01-14T00:00:00Z
33,Henry Fonda,screenwriter,male,1905-05-16T00:00:00Z,United States of America,1982-08-12T00:00:00Z
34,Cary Grant,actor,male,1904-01-18T00:00:00Z,United States of America,1986-11-29T00:00:00Z
35,Richard Burton,actor,male,1925-11-10T00:00:00Z,United Kingdom,1984-08-05T00:00:00Z
36,Burt Lancaster,screenwriter,male,1913-11-02T00:00:00Z,United States of America,1994-10-20T00:00:00Z
37,William Holden,actor,male,1918-04-17T00:00:00Z,United States of America,1981-11-12T00:00:00Z
38,John Wayne,screenwriter,male,1907-05-26T00:00:00Z,United States of America,1979-06-11T00:00:00Z
39,Kirk Douglas,screenwriter,male,1916-12-09T00:00:00Z,United States of America,2020-02-05T00:00:00Z
40,Alec Guinness,screenwriter,male,1914-04-02T00:00:00Z,United Kingdom,2000-08-05T00:00:00Z
41,Christopher Plummer,actor,male,1929-12-13T00:00:00Z,Canada,2021-02-05T00:00:00Z
42,Sean Connery,screenwriter,male,1930-08-25T00:00:00Z,United Kingdom,2020-10-31T00:00:00Z
43,Albert Finney,screenwriter,male,1936-05-09T00:00:00Z,United Kingdom,2019-02-07T00:00:00Z
44,Heath Ledger,character actor,male,1979-04-04T00:00:00Z,Australia,2008-01-22T00:00:00Z
45,Steve McQueen,actor,male,1930-03-24T00:00:00Z,United States of America,1980-11-07T00:00:00Z
46,Orson Welles,screenwriter,male,1915-05-06T00:00:00Z,United States of America,1985-10-10T00:00:00Z
47,James Dean,actor,male,1931-02-08T00:00:00Z,United States of America,1955-09-30T00:00:00Z
48,Charlton Heston,screenwriter,male,1923-10-04T00:00:00Z,United States of America,2008-04-05T00:00:00Z
49,Gene Kelly,screenwriter,male,1912-08-23T00:00:00Z,United States of America,1996-02-02T00:00:00Z
50,Robert Mitchum,screenwriter,male,1917-08-06T00:00:00Z,United States of America,1997-07-01T00:00:00Z
51,Alan Rickman,screenwriter,male,1946-02-21T00:00:00Z,United Kingdom,2016-01-14T00:00:00Z
52,Edward G. Robinson,character actor,male,1893-12-12T00:00:00Z,United States of America,1973-01-26T00:00:00Z
53,Buster Keaton,screenwriter,male,1895-10-04T00:00:00Z,United States of America,1966-02-01T00:00:00Z

In [7]:
metafile_df.columns

Index(['itemLabel', 'occupationLabel', 'genderLabel', 'bdayLabel',
       'citizenshipLabel'],
      dtype='object')

In [8]:
metafile2_df.columns

Index(['itemLabel', 'occupationLabel', 'genderLabel', 'bdayLabel',
       'citizenshipLabel', 'dodLabel'],
      dtype='object')

In [9]:
hint_df = pd.merge(left=metafile_df, right=metafile2_df[['itemLabel','dodLabel']], on='itemLabel', how='left')
hint_df

,itemLabel,occupationLabel,genderLabel,bdayLabel,citizenshipLabel,dodLabel
0,Adèle Exarchopoulos,"actor, model, film actor",female,1993-11-22T00:00:00Z,France,NaN
1,Al Pacino,"stage actor, film producer, television actor, ...",male,1940-04-25T00:00:00Z,United States of America,NaN
2,Alan Arkin,"screenwriter, writer, singer, musician, charac...",male,1934-03-26T00:00:00Z,United States of America,NaN
3,Alan Rickman,"screenwriter, actor, writer, graphic designer,...",male,1946-02-21T00:00:00Z,United Kingdom,2016-01-14T00:00:00Z
4,Albert Finney,"screenwriter, actor, singer, television direct...",male,1936-05-09T00:00:00Z,United Kingdom,2019-02-07T00:00:00Z
...,...,...,...,...,...,...
201,Virginia Cherrill,"actor, film actor",female,1908-04-12T00:00:00Z,United States of America,1996-11-14T00:00:00Z
202,Vivien Leigh,"actor, stage actor, film actor",female,1913-11-05T00:00:00Z,United Kingdom,1967-07-08T00:00:00Z
203,Will Smith,"actor, singer, film producer",male,1968-09-25T00:00:00Z,United States of America,NaN
204,William Holden,"actor, television actor, film actor",male,1918-04-17T00:00:00Z,United States of America,1981-11-12T00:00:00Z
205,Woody Allen,"screenwriter, writer, composer, clarinetist, p...",male,1935-12-01T00:00:00Z,United States of America,NaN

In [10]:
hint_df.columns = ['Celebrity', 'Occupation', 'Gender', 'Birthday', 'Citizenship', 'Death_date']
hint_df

,Celebrity,Occupation,Gender,Birthday,Citizenship,Death_date
0,Adèle Exarchopoulos,"actor, model, film actor",female,1993-11-22T00:00:00Z,France,NaN
1,Al Pacino,"stage actor, film producer, television actor, ...",male,1940-04-25T00:00:00Z,United States of America,NaN
2,Alan Arkin,"screenwriter, writer, singer, musician, charac...",male,1934-03-26T00:00:00Z,United States of America,NaN
3,Alan Rickman,"screenwriter, actor, writer, graphic designer,...",male,1946-02-21T00:00:00Z,United Kingdom,2016-01-14T00:00:00Z
4,Albert Finney,"screenwriter, actor, singer, television direct...",male,1936-05-09T00:00:00Z,United Kingdom,2019-02-07T00:00:00Z
...,...,...,...,...,...,...
201,Virginia Cherrill,"actor, film actor",female,1908-04-12T00:00:00Z,United States of America,1996-11-14T00:00:00Z
202,Vivien Leigh,"actor, stage actor, film actor",female,1913-11-05T00:00:00Z,United Kingdom,1967-07-08T00:00:00Z
203,Will Smith,"actor, singer, film producer",male,1968-09-25T00:00:00Z,United States of America,NaN
204,William Holden,"actor, television actor, film actor",male,1918-04-17T00:00:00Z,United States of America,1981-11-12T00:00:00Z
205,Woody Allen,"screenwriter, writer, composer, clarinetist, p...",male,1935-12-01T00:00:00Z,United States of America,NaN

In [11]:
hint_df.Citizenship = hint_df.Citizenship.apply(lambda x: 'USA' if x == 'United States of America' else x) \
                                         .apply(lambda x: 'Ireland' if x == 'Republic of Ireland' else x) \
                                         .apply(lambda x: 'The UK' if x == 'United Kingdom' else x)
hint_df.Citizenship.value_counts()

USA            140
The UK          30
France           8
Canada           7
Australia        6
Ireland          5
Sweden           3
Spain            2
Austria          1
Italy            1
Germany          1
Norway           1
New Zealand      1
Name: Citizenship, dtype: int64

In [36]:
def calculate_age(row):
    birth_date = datetime.strptime(row['Birthday'][:10], r'%Y-%m-%d').date()
    
    if pd.isnull(row['Death_date']):
        present_date = datetime.now().date()
        age = present_date.year - birth_date.year - ((present_date.month, present_date.day) < (birth_date.month, birth_date.day))
        return f'Born in {birth_date.year}. Age: {age}'
    else:
        death_date = datetime.strptime(row['Death_date'][:10], r'%Y-%m-%d').date()
        age = death_date.year - birth_date.year - ((death_date.month, death_date.day) < (birth_date.month, birth_date.day))
        return f'{birth_date.year}-{death_date.year}. Age: {age}'

In [37]:
hint_df['Age'] = hint_df.apply(calculate_age, axis=1)
hint_df = hint_df.drop(columns=['Birthday', 'Death_date'])

In [41]:
hint_df['Occupation'] = hint_df['Occupation'].apply(lambda x: ", ".join(x.split(', ')[:5]) if len(x.split(', ')) > 5 else x)

In [42]:
hint_df.to_csv("../raw_data/metafile_complete.csv")